<div ng-controller="ListController as list">
  <table class="table table-bordered">
    <tr ng-repeat="user in list.users">
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td><a href="#" ng-click="list.log(user)">log</a></td>
    </tr>
  </table>       
</div>