<div ng-controller="LoginController as login">
    <h1>Login</h1>
    <p><input ng-model="email" type="text" class="form-control" placeholder="Email"> equals {{ login.email }} </p>
    <p><input type="password" ng-model="pass" class="form-control" placeholder="Password"> equals {{ login.pass }} </p>
    <button ng-click="login.send(email, pass)" class="btn btn-primary" type="button">Send
    </button>
</div>