<div ng-controller="RegisterController as register">
    <h1>Register</h1>
    <p><input type="text" ng-model="email" class="form-control" placeholder="Email"> equals {{ register.email }} </p>
    <p><input type="password" ng-model="pass" class="form-control" placeholder="Password"> equals {{ register.pass }} </p>
    <button ng-click="register.send(email, pass)" class="btn btn-primary" type="button">Send
    </button>
</div>