<html>
  <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <script src="/js/angular.js"></script>
        <script src="/js/app_frontend.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/register.js"></script>
        <script src="/js/list.js"></script>
  </head>

  <body ng-app="projekt" ng-cloak>

  <div ng-controller="MainController as main">
      <button type="button" class="btn btn-primary" ng-click="main.toggleView('register.html')">Register</button>
      <button type="button" class="btn btn-success" ng-click="main.toggleView('login.html')">Login</button>
      <button type="button" class="btn btn-info" ng-click="main.toggleView('list.html')">List</button>

      <div ng-include="main.presentedView"></div>
      
    </div>
  </body>
</html>